*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}

main {
    margin-top: 10px;
}

.card .card-body {
    background-color: #FFFFFF;
}

label {
    font-weight: 600;
}

.table-listar, tr, th {
    font-size: 14px;
}

.thDiaria {
    width: 12%;
}

.thMotoristaCarregamentos {
    width: 25%;
}

.thPlaca {
    width: 12%;
}

.thAjudantes {
    width: 20%;
}

.thCidades {
    width: 29%;
}

.thAcoes {
    width: 2%;
}